.button#BackMainMenu {
    -fx-background-color: #4676D7;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-padding: 4px 8px;
    -fx-border-radius: 5px;
    -fx-border-width: 0;
}
.button#BackMainMenu:hover {
    -fx-background-color: #1d49aa;
    -fx-cursor: hand;
}
.button#btTest {
    -fx-background-color: #4676D7;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-padding: 4px 8px;
    -fx-border-radius: 5px;
    -fx-border-width: 0;
}
.button#btTest:hover {
    -fx-background-color: #1d49aa;
    -fx-cursor: hand;
}
.button{
    -fx-background-color:white;
}
.button#A_X{
    -fx-background-radius: 5em;
}
.button#X_Square{
    -fx-background-radius: 5em;
}
.button#Y_Triangle{
    -fx-background-radius: 5em;
}
.button#B_Circle{
    -fx-background-radius: 5em;
}
.label{
    -fx-text-fill: white;
}
